flask>=2.2.2
flask-restful>=0.3.9
Flask-Cors==3.0.10
passlib==1.7.4
mysql-connector-python==8.0.33
flask_sqlalchemy==3.0.3
pymysql==1.0.3
Flask-JWT-Extended==4.4.4
fuzzywuzzy==0.18.0
python-dotenv==1.0.0
pymongo==4.3.3